# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env

# =========================
# AI / ML Artifacts
# =========================
models/
output/
uploads/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Temporary files
# =========================
*.tmp
*.swp